<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<!-- 这是jquery的核心包  -->
<script type="text/javascript" src="../jquery.min.js"></script>
<!-- 这是easyui的核心包  -->
<script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>

<script type="text/javascript" src="../easyui/locale/easyui-lang-zh_CN.js"></script>


<!-- jqeuy默认的css样式 -->
<link rel="stylesheet" type="text/css" href="../easyui/themes/default/easyui.css"/>

<link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css"/>
<body>


   <form id="serach_form" method="get" >

    标题：<input type="easyui-textbox" id="product_title" name="product_title">
      <input type="button" onclick="query()" value="提交">
   </form>


<div  class="easyui-linkbutton" onclick="deleteUsers()" data-options="iconCls:'icon-remove',plain:true">删除</div>
    <div class="easyui-datagrid" id="role_datagrid">6666</div>

</body>
<script type="text/javascript" >
    /*<![CDATA[*/
$(function () {
    alert(111);
    query();
})
  function query(){
      $("#role_datagrid").datagrid({
          url:'./search',
          fitColumns:true,
          striped:true,
          ctrlSelect:true,
          pagination:true,
          pageNumber:1,
          pageSize:1,
          pageList:[1,2,5],
          method:"post",
          queryParams:{
              product_title:$("#product_title").val()



          },
          columns:[
              [
                  {field:'id',title:'编号',width:100},
                  {field:'product_price',title:'名称',width:100},
                  {field:'product_title',title:'题目',width:100},
                  {field:'product_sell_point',title:'顺序',width:100},
                  {field:'product_num',title:'顺序',width:100}



              ]
          ]

      })
  }


    /*]]>*/
</script>
</html>